@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  width: 890px;
  margin: 0 auto;
  color: #24292f;
  font-size: 1em;
}
code {
  color: crimson;
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
p {
  letter-spacing: 0.6px;
  word-spacing: 1px;
}
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  border-left: 5px solid #ccc;
  color: #000000b3;
  justify-content: flex-start;
}
.title {
  font-weight: 700;
}
.section-line {
  border: none;
  height: 3px;
  background-color: black;
}
