p {
  font-size: 24px;
  color: tomato;
}

body {
  color: rgb(4, 50, 35);
}

/* ul {
  color: brown;
} */

#애미시발 {
  color: blue;
}

/* 느금마 */

#넌-특별해 {
  font-size: 400px;
  color: aqua;
}

.a {
  color: blueviolet;
}

.b {
  color: brown;
}
