@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

html {
  --main-text-color: #24292f;
  --main-quote-color: #e5e5e5;
  --link-color: #219ce6;
}
.main-contents {
  /* width: 40%; */
  /* margin-left: 30%; */
  position: relative;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin-top: 15px;
}

.인용구 {
  border-left: 3px;
  border-left: 3px, solid, var(--main-quote-color);
  border-style: solid;
  border-color: var(--main-quote-color);
  border-width: 5px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 24px;
  margin: 20px;
  margin-left: 0px;
  color: #4c4c4c;
}
a.footer--a:visited,
a.footer--a:link {
  color: var(--link-color);
  text-decoration: none;
}
a.upper-header--left--a:visited,
a.upper-header--left--a:link {
  color: var(--main-text-color);
  text-decoration: none;
}
.tltle-1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.tltle-2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 50px;
}
.title-3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 50px;
  margin-bottom: 18px;
}
div.article--sub > span {
  line-height: 27px;
}
.code {
  font-family: "consolas";
  color: #c7254e;
  background-color: #f2f2f2;
}
hr.hr--title-2 {
  height: 1px;
  border: none;
  color: black;
  background-color: #d5d5d5;
}
li {
  list-style: none;
}
.upper-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.upper-header--left {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.upper-header--right {
  /* margin-top: 3em; */
}
/* .upper-header > div {
  justify-items: flex-end;
  align-items: flex-end;
} */
.upper-header > div > li {
  font-size: 14px;
}
.icon {
  height: 14px;
}
.구분자::before {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
  color: #4c4c4cbd;
}
.article--footer-upper {
  display: flex;
  justify-content: end;
}
